[Unit]
Description=gSDK program to controll gimbal

[Service]
User=agx
WorkingDirectory=/home/agx/gimbalapplications/v4_gSDK_UI
ExecStart=/home/agx/gimbalapplications/v4_gSDK_UI/gSDK
Restart=always
#StandardOutput=append:/home/agx/log1.log
#StandardError=append:/home/agx/log2.log

#replace /home/unixcop/project/ with your Path, venv/bin/activate with your source and test.py with your script name

[Install]
WantedBy=multi-user.target
